@use "../../utils/" as *;
.about-steps-slider {
  .steps {
    .step {
      padding: $s_4;

      h5 {
        color: $clr_secondary_light;
      }
      .step-titr {
        @include d-flex(row, start, center, nowrap, false, $s_2);
        img {
          background-color: $clr_secondary_dark;
          padding: $s_1;
          width: 24px;
          height: 24px;
          padding: $s_1;
        }
      }
    } //step
  } //steps
  .swiper-button-next {
    top: $s_6;
  }
  .swiper-button-prev {
    top: $s_6;
    left: 80%;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: $clr_secondary_dark;
    @include fs("h3");
  }
} //about-us-steps
