@use "../utils/" as *;

.contact-us {
  .banner {
    @include d_flex($a_i: center);
    width: 100%;
    height: 80vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    .container {
      @include d_flex(row, start, center, nowrap, true, 147px);
      color: $clr_natural_1;

      p {
        @include fs("title-s");

        @include mq("lg") {
          @include fs("h2");
        }
      }
      .contact {
        width: 100%;
      }
      .title {
        @include fs("title-s");
      }
      @include mq("lg") {
        gap: $s_2;
      }
      @include mq("lg") {
        flex-direction: column;
        gap: $s_2;
        $even_column: true;
        margin-top: $s_5;
      }
    }
    @include mq("lg") {
      background-size: 200%;
      align-items: start;
    }
    @include mq("sm") {
      background-size: 390%;
      height: 90vh;
    }
    @include mq("xs") {
      background-size: 450%;
    }
  } //banner
}
