@use "../utils/" as *;

.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    padding-block: 18% 10%;
    @include fs("title-s");

    color: $clr_text_contrast;
    p{

      
   transition: all 0.4s ease-in-out;

      &:hover {
text-shadow: 0 0 7px #707070
      }
    }
    @include mq("md") {
      visibility: hidden;
      @include fs("body");
    }
    &__mobile {
      display: none;
      margin-block: $s_3 $s_5;
      @include mq("md") {
        display: block;
        @include fs("h2");
      }
    }
  }
}
