@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins/woff2/Poppins-Medium.woff2);
}

*:not(i, .ab-icon) {
	font-family: Poppins !important;
}

.user-profile-picture {
	display: none;
}

#information table {
	border-spacing: 0.25rem;
	width: 100%;
}

#information td {
	padding: 0.5rem;
	border: 1px solid #ddd;
}
